
.table td {
    vertical-align: middle;
}

.pokemonImage img {
    max-width: 80px;
}

.action {
    visibility: hidden;
    padding: 10px 6px;
}

.table tr:hover .action {
    visibility: visible;
}