.card {
    height: 100%;
    color: #635959;
    transition: all .2s;
}
a{
    text-decoration: none;
}

.image {
    margin: auto;
    transition: all .2s;
}

.title {
    color: #242424;
}

.types {
    margin-top: 20px;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.02) translateY(-2%);
}
