.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    text-transform: uppercase;
}

.prev {
    padding-left: 0;
}

.next {
    padding-right: 0;
    margin-left: auto;
}

.heading {

    margin: 30px 0;
    text-align: center;
}

.number {
    font-size: 36px;
    font-weight: 600;
    color: #cecece;
    line-height: 1;
}

.heading h1 {
    margin-bottom: 0;
}

.generation {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
}

.gallery {
    text-align: center;
}

.types {
    margin: 20px 0;
}

.image {
    max-width: 250px;
    width: 100%;
    margin: auto;
}

.sprites {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;

}

.sprites figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #efefef;
    margin: 2px;
    padding: 4px;
    width: 100px;
}

.description {
    margin: 40px 0;
    font-size: 18px;
}

@media screen and (min-width: 576px) {
    .description {
        text-align: center;
        max-width: 800px;
        margin: 40px auto;
    }
}

.info {
    display: flex;
    margin: 20px 0 40px;
    flex-wrap: wrap;
    justify-content: center;
    background: #efefef;
    padding: 10px;
}

.box {
    font-size: 20px;
    font-weight: 500;
    color: #8a8a8a;
    display: flex;
    align-items: center;
    padding: 20px;
    width: calc(100% / 2);
    flex-direction: column;
    line-height: 1.1;
    text-align: center;

}

.box:first-child {
    width: 100%;
    border-bottom: 1px solid #afafaf;
}

.box:last-child {

    border-left: 1px solid #afafaf;
}

.boxLabel {
    font-size: 14px;
    font-weight: 300;
    margin: 10px;
}

@media screen and (min-width: 576px) {
    .box {
        width: calc(100% / 3) !important;
        border-right: 1px solid #afafaf !important;
        border-bottom: 0 !important;
        padding: 10px 40px;
        justify-content: flex-end;
        margin: 20px 0;

        max-width: 200px;
    }

    .box:last-child {
        border-left: none !important;
        border-right: none !important;
    }
}


.label {
    font-size: 24px;
}

.statsAbilities {

}

.stats,
.abilities {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    margin: 20px auto;
}

.stats ul {
    display: table;
    padding: 0;
    border-collapse: collapse;
}

.stats li {
    display: table-row;
    border-bottom: 1px solid #afafaf;
}

.stats span {
    display: table-cell;
    padding: 10px;
}

.statName {
    font-weight: 500;
}

.recipe{
    width: 100% !important;
}
.ingredient {
   width: 10%;
}