.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    text-transform: uppercase;
}

.prev {
    padding-left: 0;
    font-size: 40px;
}
.next {
    padding-right: 0;
    margin-left: auto;
    font-size: 40px;
}
.prev:hover, .next:hover{
    transform: scale(1.2);
    text-decoration: none;
}

.types {
    margin: 20px 0;
}

.recipe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ingredient {
   width: 10%;
    margin-right: 20px;
}

p{
    margin-bottom: 0;
}

.containers{
    background-color: #FFFFFF;
}