.switch {
    display: flex;
    justify-content: center;
}

.option {
    display: inline-block;
    padding: 4px 16px;
    cursor: pointer;
}


.option.active {
    background-color: white;
    border-radius: 6px;
}
