.navBar {
    background: white;
    border-bottom: 2px solid #dd092f;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
}

.logo:hover {
    transform: rotate(360deg);
    filter: invert(14%) sepia(67%) saturate(7456%) hue-rotate(345deg) brightness(97%) contrast(100%);
}


.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #242424 !important;
}

.navItem a.active {
    color: #f90931 !important;
}
.navItem a:hover {
    color: #ff4c60;
}