.navBar {
    background: white;
    border-bottom: 2px solid #FF6542;
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
}
.navBar nav{
    height: 150px;
}
@media screen and (min-width: 768px){
    .navBar nav{
        height: 80px;
    }
}
.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
}
.logo:hover {
    transform: scale(1.2);
}
.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #FF6542 !important;
    font-size: 1.2rem;
}
.navItem a:focus, .navItem a:hover{
    text-decoration: none !important;
}
.navItem a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFC857;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navItem a:hover::after, .navItem a:focus::after {
    transform: scaleX(1);
}
