.footer{
    position: fixed;
}
.wallpaper img, .wallpaper h1, .wallpaper div {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.wallpaper{
    margin-top: -50px;
    justify-items: center;
}
.wallpaper img{
    object-fit: cover;
    height: 50vh;
}
.wallpaper h1{
    justify-items: center;
    align-self: center;
}
.wallpaper div{
    align-self: end;
}
.animation{
    height: 120px;
}
.subtitle{
    margin-left: 0.75rem
}
.animationContainer{
    margin-left: -0.5rem;
}