.footer{
    position: fixed;
}
.buttonHome{
    color: #FFFAFF;
    background-color: #FF6542;
}
.buttonHome:hover{
    color: #FFFAFF;
    text-decoration: underline;
    background-color: #FF6542;
}