@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1, h2, h3, h4, h5{
    font-family: 'Poppins';
    font-weight: 600;
    color: #FF6542;
}
h1{
    font-size: 5.813rem;
}
h2{
    font-size: 3.625rem;
}
h3{
    font-size: 2.938rem;
}
h4{
    font-size: 2.063rem;
}
h5{
    font-size: 1.438rem;
}
p, a{
    font-size: 1rem;
}
p.small{
    font-size: 0.875rem;
}
*{
    font-family: 'Poppins';
    font-weight: 400;
    color: #02040F;
}
a{
    text-decoration: none;
    color: #FF6542;
}
a:hover{
    text-decoration: underline;
    color: #FF6542;
}
.buttons{
    border-color: transparent !important;
    width: fit-content;
    color: #FFFAFF;
    background-color: #FF6542;
}
.buttons:hover{
    text-decoration: underline;
    border-color: #FF6542 !important;
    background-color: #FFFAFF;
    color: #FF6542 !important;
}
.buttons:focus{
    border-color: #FF6542 !important;
    background-color: #FFFAFF;
    color: #FF6542 !important;
}
img{
    width: 100%;
}