@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1, h2, h3, h4, h5{
    font-family: 'Poppins';
    font-weight: 600;
    color: #FF6542;
}
*{
    font-family: 'Poppins';
    font-weight: 400;
    color: #02040F;
}
a{
    text-decoration: none;
    color: #FF6542;
}
a:hover{
    text-decoration: underline;
    color: #FF6542;
}